html,[type='text'],[type='email'],[type='password'] {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

[type='text'],[type='email'],[type='password']{
  font-size: 13px;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin-top: 0;
  margin-bottom: .5rem;
  text-transform: capitalize;
}
.h3, .h4, .h1{
  color: #000;
  margin-bottom: 0;
  clear: both;
  font-size: 14px;
  letter-spacing: 0.4px;
  font-weight: 600;
  line-height: 18px;
}
.h1{
  font-size: 16px;
}


.btn ,.btn__show-pass{
  min-width: 100px;
  border: none;
  margin: 20px 0 0 0;
  padding: 10px 12px;
  font-weight: 500;
  background: $main;
  color:$white;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: .3s;
  outline: none;


  &:hover, &:active{
    outline: none;
    background: $black;
    transition: .3s;
  }
}

.btn__show-pass{
  position: absolute;
  min-width: 50px;
  height: 100%;
  padding: 0;
  margin: 0;
  right: -50px;
  background: $main;
}
.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.login-form_label{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 450px;
  margin-bottom: 20px;
}

.radiobutton{
  cursor: pointer;

  &[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
  }

  &[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: $main;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
  }
}

.input{
  width: 300px;
  outline: none;
  padding: 0 6px;
  transition: .3s;
  border: 1px solid $gray;

  &:focus{
    border: 1px solid $main;
  }
}

.fnt-weg-400{
  font-weight: 400;
}

